<section class="video">
<!-- 	<iframe width="100%" height="100%" src="//www.youtube.com/embed/rsvsOYpPgYk?rel=0&showinfo=0&controls=0&autohide=1" frameborder="0" allowfullscreen></iframe> -->
</section>
<section class="title">
	<h1>Modern Family</h1>
	<p>Watch Episodes Now</p>
	<a href="#"><div class="down-arrow centered"><i class="fa fa-arrow-down arrow-down pulse-shrink"></i></div></a>
</section>

<section class="middle-container" id="middle-container">
	<div class="seasons-title">
		<h1>All Seasons</h1>
	</div>

	<div class="seasons centered">
		<div class="season-image ih-item circle effect3 left_to_right wow fadeInLeft" data-wow-duration="1s" data-season="1"><a href="#">
			<div class="img">
				<img src="assets/modern_1.jpg"/>
			</div>
			<div class="info">
				 <h3>Modern Family</h3>
          		 <p>Season 1</p>
          	</div></a>
		</div>
		<div class="season-image ih-item circle effect3 left_to_right wow fadeInDown" data-wow-duration="1s" data-season="2"><a href="#">
			<div class="img">
				<img src="assets/modern_2.jpg"/>
			</div>
			<div class="info">
				 <h3>Modern Family</h3>
          		 <p>Season 2</p>
          	</div></a>
		</div>
			<div class="season-image ih-item circle effect3 left_to_right wow fadeInRight" data-wow-duration="1s" data-season="3"><a href="#">
			<div class="img">
				<img src="assets/modern_3.jpg"/>
			</div>
			<div class="info">
				 <h3>Modern Family</h3>
          		 <p>Season 3</p>
          	</div></a>
		</div>
			<div class="season-image ih-item circle effect3 left_to_right wow fadeInLeft" data-wow-duration="1s" data-season="4"><a href="#">
			<div class="img">
				<img src="assets/modern_4.jpg"/>
			</div>
			<div class="info">
				 <h3>Modern Family</h3>
          		 <p>Season 4</p>
          	</div></a>
		</div>
			<div class="season-image ih-item circle effect3 left_to_right wow fadeInUp" data-wow-duration="1s" data-season="5"><a href="#">
			<div class="img">
				<img src="assets/modern_5.jpg"/>
			</div>
			<div class="info">
				 <h3>Modern Family</h3>
          		 <p>Season 5</p>
          	</div></a>
		</div>
			<div class="season-image ih-item circle effect3 left_to_right wow fadeInRight" data-wow-duration="1s" data-season="6"><a href="#">
			<div class="img">
				<img src="assets/modern_6.jpg"/>
			</div>
			<div class="info">
				 <h3>Modern Family</h3>
          		 <p>Season 6</p>
          	</div></a>
		</div>
	</div>
</section>

<section class="season1-container season" data-season="1">
	<div class="season-1 centered">
		<div class="season1-row centered">
			<div class="close"><i class="fa fa-times"></i></div>
		</div>
	</div>
</section>

<section class="season2-container season" data-season="2">
	<div class="season-2 centered">
		<div class="season2-row centered">
			<div class="close"><i class="fa fa-times"></i></div>
		</div>
	</div>
</section>

<section class="season3-container season" data-season='3'>
	<div class="season-3 centered">
		<div class="season3-row centered">
			<div class="close"><i class="fa fa-times"></i></div>
		</div>
	</div>
</section>

<section class="season4-container season" data-season='4'>
	<div class="season-4 centered">
		<div class="season4-row centered">
			<div class="close"><i class="fa fa-times"></i></div>
		</div>
	</div>
</section>

<section class="season5-container season" data-season='5'>
	<div class="season-5 centered">
		<div class="season5-row centered">
			<div class="close"><i class="fa fa-times"></i></div>
		</div>
	</div>
</section>

<section class="season6-container season" data-season='6'>
	<div class="close"><i class="fa fa-times"></i></div>
	<h1>Coming Soon...</h1>
	<div class="season6-image centered">
		<img src="assets/modern_6.jpg"/>
	</div>
</section>

<section class="overlay"></section>
<section class="video-overlay"></section>

<section class="video-player-container">
	<!-- <section class="video-player centered">
		<video id="video-player" controls width="600" height="70%" autoplay="true">
		<source src="../videos/1-24.mp4" type="video/mp4">
		</video>
	</section> -->
	<div class="next-episode centered">
		<i class="fa fa-arrow-right"></i>
		<h1>Next Episode</h1>
	</div>
</section>

<div class="close-video">
	<i class="fa fa-times"></i>
</div>
